    <div class="modal_window">
        <div class="input_modal">
            <label for="">نام کاربری :</label>
            <input type="text" placeholder="ایمیل خود را وارد کنید">
        </div>
        <div class="input_modal">
            <label for="">رمز عبور  :</label>
            <input type="password" placeholder="رمز عبور را وارد کنید">
        </div>
        <a class="login_buttom btnhover">
            ورود
        </a>
        <a class="rigester_buttom btnhover">
            ثـبت نـــــام
        </a>
        <a class=" forget btnhover">
            فراموشی رمز عبور
        </a>

    </div>
