    <div class="box">
        <h1>عباس بساکی</h1>
        <p> برنامه نویس فرانت اند و طراح قالب</p>
        <span class="position-relative">
            <button id="aboght_btn" class="btn" ng-click="showAboutModal($event)">درباره</button>

            <div id="abought_main" class="abought_main " ng-class="showAbout ? '' : 'zero_scale' " ng-click="$event.stopPropagation()">
                <div class="close_tag"><i id="close_window2" class="fas fa-times close_window" ng-click="showAboutModal($event)"></i></div>

                سلام دوستان <br>
                من عباس بساکی هستم برنامه نویس فرانت اند و طراح قالب ، سختی های زیادی برای کسب موفقیت های نسبی کشیدم و تصمیم دارم تا به اهدافم نرسم دست از تلاش برندارم
                <br>سعی کردم با ایجاد این پیج خودم رو به شما معرفی کنم تا اگر مسیر کاری مشابهی داشتیم بتونیم همدیگه رو یاری کنیم و مسیر موفقیت رو برای هم هموارتر کنیم.
            </div>
    

        </span>
    </div>

    <span class="img_tag">
        <img src="assets/images/poster1.png" alt="">
        <i class="edit_image fas fa-camera"><input type="file"></i>

    </span>


